<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <!-- Primary Meta Tags -->
      <title>
         Flask Volt Pro -  Data Tables  | AppSeed
      </title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Favicon -->
      <link type="text/css" href="/static/admin/css/main.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <!-- Specific Page CSS goes HERE  -->
   </head>
   <body>
      {% include 'admin/_sidebar.html' %}
      <main class="content">
         {% include 'admin/_header.html' %}
         <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div>
              <div class="d-flex justify-content-between w-100 flex-wrap">
                 <div class="mb-3 mb-lg-0">
                    <h1 class="h4">Supported Sites</h1>
                 </div>
              </div>
            </div>
         </div>
         <div class="card border-0 shadow">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0 rounded">
                        <thead class="thead-light">
                            <tr>
                                <th class="border-0 rounded-start">Country</th>
                                <th class="border-0">All</th>
                                <th class="border-0">All Change</th>
                                <th class="border-0">Travel &amp; Local</th>
                                <th class="border-0">Travel &amp; Local Change</th>
                                <th class="border-0">Widgets</th>
                                <th class="border-0 rounded-end">Widgets Change</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Item -->
                            <tr>
                                <td class="border-0">
                                    <a href="#" class="d-flex align-items-center">
                                        <img class="me-2 image image-small rounded-circle" alt="Image placeholder" src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/img/flags/united-states-of-america.svg">
                                        <div><span class="h6">United States</span></div>
                                    </a>
                                </td>
                                <td class="border-0 fw-bold">106</td>
                                <td class="border-0 text-danger">
                                    <div class="d-flex align-items-center">
                                        <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="fw-bold">5</span>
                                    </div>
                                </td>
                                <td class="border-0 fw-bold">
                                    3
                                </td>
                                <td class="border-0">
                                    =
                                </td>
                                <td class="border-0 fw-bold">
                                    32
                                </td>
                                <td class="border-0 text-success">
                                    <div class="d-flex align-items-center">
                                        <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="fw-bold">3</span>
                                    </div>
                                </td>
                            </tr>
                            <!-- End of Item -->

                            <!-- Item -->
                            <tr>
                                <td class="border-0">
                                    <a href="#" class="d-flex align-items-center">
                                        <img class="me-2 image image-small rounded-circle" alt="Image placeholder" src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/img/flags/canada.svg">
                                        <div><span class="h6">Canada</span></div>
                                    </a>
                                </td>
                                <td class="border-0 fw-bold">76</td>
                                <td class="border-0 text-success">
                                    <div class="d-flex align-items-center">
                                        <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="fw-bold">17</span>
                                    </div>
                                </td>
                                <td class="border-0 fw-bold">
                                4
                                </td>
                                <td class="border-0">
                                =
                                </td>
                                <td class="border-0 fw-bold">
                                30
                                </td>
                                <td class="border-0 text-success">
                                    <div class="d-flex align-items-center">
                                        <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="fw-bold">3</span>
                                    </div>
                                </td>
                            </tr>
                            <!-- End of Item -->

                            <!-- Item -->
                            <tr>
                                <td class="border-0">
                                    <a href="#" class="d-flex align-items-center">
                                        <img class="me-2 image image-small rounded-circle" alt="Image placeholder" src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/img/flags/united-kingdom.svg">
                                        <div><span class="h6">United Kingdom</span></div>
                                    </a>
                                </td>
                                <td class="border-0 fw-bold">147</td>
                                <td class="border-0 text-success">
                                    <div class="d-flex align-items-center">
                                        <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="fw-bold">10</span>
                                    </div>
                                </td>
                                <td class="border-0 fw-bold">
                                5
                                </td>
                                <td class="border-0">
                                =
                                </td>
                                <td class="border-0 fw-bold">
                                34
                                </td>
                                <td class="border-0 text-success">
                                    <div class="d-flex align-items-center">
                                        <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="fw-bold">7</span>
                                    </div>
                                </td>
                            </tr>
                            <!-- End of Item -->

                            <!-- Item -->
                            <tr>
                                <td class="border-0">
                                    <a href="#" class="d-flex align-items-center">
                                        <img class="me-2 image image-small rounded-circle" alt="Image placeholder" src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/img/flags/france.svg">
                                        <div><span class="h6">France</span></div>
                                    </a>
                                </td>
                                <td class="border-0 fw-bold">112</td>
                                <td class="border-0 text-success">
                                    <div class="d-flex align-items-center">
                                        <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="fw-bold">3</span>
                                    </div>
                                </td>
                                <td class="border-0 fw-bold">
                                5
                                </td>
                                <td class="border-0 text-success">
                                    <div class="d-flex align-items-center">
                                        <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="fw-bold">1</span>
                                    </div>
                                </td>
                                <td class="border-0 fw-bold">
                                34
                                </td>
                                <td class="border-0 text-danger">
                                    <div class="d-flex align-items-center">
                                        <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="fw-bold">2</span>
                                    </div>
                                </td>
                            </tr>
                            <!-- End of Item -->

                            <!-- Item -->
                            <tr>
                                <td class="border-0">
                                    <a href="#" class="d-flex align-items-center">
                                        <img class="me-2 image image-small rounded-circle" alt="Image placeholder" src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/img/flags/japan.svg">
                                        <div><span class="h6">Japan</span></div>
                                    </a>
                                </td>
                                <td class="border-0 fw-bold">115</td>
                                <td class="border-0 text-danger">
                                    <div class="d-flex align-items-center">
                                        <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="fw-bold">12</span>
                                    </div>
                                </td>
                                <td class="border-0 fw-bold">
                                6
                                </td>
                                <td class="border-0 text-danger">
                                    <div class="d-flex align-items-center">
                                        <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="fw-bold">1</span>
                                    </div>
                                </td>
                                <td class="border-0 fw-bold">
                                37
                                </td>
                                <td class="border-0 text-danger">
                                    <div class="d-flex align-items-center">
                                        <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="fw-bold">5</span>
                                    </div>
                                </td>
                            </tr>
                            <!-- End of Item -->

                            <!-- Item -->
                            <tr>
                                <td class="border-0">
                                    <a href="#" class="d-flex align-items-center">
                                        <img class="me-2 image image-small rounded-circle" alt="Image placeholder" src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/img/flags/germany.svg">
                                        <div><span class="h6">Germany</span></div>
                                    </a>
                                </td>
                                <td class="border-0 fw-bold">220</td>
                                <td class="border-0 text-danger">
                                    <div class="d-flex align-items-center">
                                        <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="fw-bold">56</span>
                                    </div>
                                </td>
                                <td class="border-0 fw-bold">
                                    7
                                </td>
                                <td class="border-0 text-danger">
                                    <div class="d-flex align-items-center">
                                        <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="fw-bold">3</span>
                                    </div>
                                </td>
                                <td class="border-0 fw-bold">
                                    30
                                </td>
                                <td class="border-0 text-success">
                                    <div class="d-flex align-items-center">
                                        <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="fw-bold">2</span>
                                    </div>
                                </td>
                            </tr>
                            <!-- End of Item -->
                        </tbody>
                    </table>
                </div>
            </div>
         </div>
      </main>
      <!-- Core Libs -->
      <script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/vendor/simple-datatables/dist/umd/simple-datatables.js"></script>
      <script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

      <script type="text/javascript">
      var dataTableEl = document.getElementById('datatable');
      if (dataTableEl) {
          const dataTable = new simpleDatatables.DataTable(dataTableEl);
      }
      </script>

      <script type="text/javascript">
      const d = document;
      const breakpoints = {
          sm: 540,
          md: 720,
          lg: 960,
          xl: 1140
      };
      var sidebar = document.getElementById('sidebarMenu');
      var content = document.getElementsByClassName('content')[0];
      if (sidebar && d.body.clientWidth < breakpoints.lg) {
          sidebar.addEventListener('shown.bs.collapse', function() {
              document.querySelector('body').style.position = 'fixed';
          });
          sidebar.addEventListener('hidden.bs.collapse', function() {
              document.querySelector('body').style.position = 'relative';
          });
      }

      if (sidebar) {
          if (localStorage.getItem('sidebar') === 'contracted') {
              sidebar.classList.add('notransition');
              content.classList.add('notransition');

              sidebar.classList.add('contracted');

              setTimeout(function() {
                  sidebar.classList.remove('notransition');
                  content.classList.remove('notransition');
              }, 500);

          } else {
              sidebar.classList.add('notransition');
              content.classList.add('notransition');

              sidebar.classList.remove('contracted');

              setTimeout(function() {
                  sidebar.classList.remove('notransition');
                  content.classList.remove('notransition');
              }, 500);
          }

          var sidebarToggle = d.getElementById('sidebar-toggle');
          sidebarToggle.addEventListener('click', function() {
              if (sidebar.classList.contains('contracted')) {
                  sidebar.classList.remove('contracted');
                  localStorage.removeItem('sidebar', 'contracted');
              } else {
                  sidebar.classList.add('contracted');
                  localStorage.setItem('sidebar', 'contracted');
              }
          });

          sidebar.addEventListener('mouseenter', function() {
              if (localStorage.getItem('sidebar') === 'contracted') {
                  if (sidebar.classList.contains('contracted')) {
                      sidebar.classList.remove('contracted');
                  } else {
                      sidebar.classList.add('contracted');
                  }
              }
          });

          sidebar.addEventListener('mouseleave', function() {
              if (localStorage.getItem('sidebar') === 'contracted') {
                  if (sidebar.classList.contains('contracted')) {
                      sidebar.classList.remove('contracted');
                  } else {
                      sidebar.classList.add('contracted');
                  }
              }
          });
      }
      </script>
   </body>
</html>
